#carouselExampleIndicators {
  width: 75%;
  margin: auto;
  margin-bottom: 1%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: teal;
  outline: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: teal;
}

.heading {
  display: inline-block;
  width: 100%;
  background-color: #343a40;
  font-size: 30;
  color: #fff;
  padding-left: 25%;
}

.heading a {
  float: right;
  font-size: 20;
  margin-right: 40%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.heading a:link {
  color: white;
  background-color: #555;
}

.heading a:hover {
  color: lightgrey;
}

.heading a:visited {
  color: white;
  background-color: #555;

}

.subHeading {
  width: 83.4%;
  background-color: #343a40;
  font-size: 26;
  color: #fff;
  margin-left: 8.3%;
  padding-left: 10%;
  margin-bottom: 0;
}

.text {
  background-color: #eee;
  font-size: 20;
  width: 50%;
  display: inline-block;
  margin-left: 25%;
  margin-bottom: 1%;
}

.carousel-inner img {
  margin: auto;
}

.app {
  margin-left: 46%;
  padding: 1%;
}


body {
    background-color:#eee;
    margin:0px;
    padding:0px;
    width: 1536px;
}

h1 {
    font-weight:bold;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    margin: auto;
}

h2 {
  font-weight:bold;
  margin:0px;
  overflow:visible;
  padding:0px;
  text-align:center;
  margin: auto;
}
