#carContainer {
  width:1550px;
  margin: auto;
}

.heading {
  width: 100%;
  background-color: #343a40;
  font-size: 26;
  color: #fff;
  padding-left: 15%;
}

.text {
  background-color: #ddd;
  width: 33%;
  border: 1px black solid;
  display: inline-block;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jcarousel-wrapper {
  overflow: auto;
  width: 50%;
}

img {
  
}

body {
    background-color:#eee;
    margin:0px;
    padding:0px;
    width: 1920px;
}

h1 {
    font-weight:bold;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    margin: auto;
}

h2 {
  font-weight:bold;
  margin:0px;
  overflow:visible;
  padding:0px;
  text-align:center;
  margin: auto;
}

image {
  padding-left: 50px;
}
